/* Base styles */

body {
  background: black;
  color: white;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: .025rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-bottom: 1rem;
}

h1 {
  font-size: 3rem;
}

p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

hr {
  margin-top: 3rem;
  margin-bottom: 3rem;
  opacity: .5;
  border: none;
  border-top: 1px solid gray;
}

img {
  max-width: 100%;
  height: auto;
}

iframe {
  max-width: 100%;
}

.btn {
  display: inline-block;
  text-decoration: none;
  padding: 1rem 2rem;
}

.content {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}

.row {
  display: flex;
  -webkit-display: flex;
  margin-left: -1rem;
  margin-right: -1rem;
}

.col {
  flex-grow: 1;
  padding: 1rem;
}

.banner {
  min-height: 20vh;
  padding: 4rem 1rem;
  background-image: url('../architectural-design-architecture-buildings-city-373893.jpg');
  background-position: left;
  background-repeat: no-repeat;
  object-fit: cover; 
  text-align: left;
}
  
.banner-text{
  display: inline-block;
  margine: auto;
  padding: 1rem 1rem;
  width: auto;
  text-align: right;
  background: #1a1a1a;
  color: white;
  font-family: 'Montserrat', sans-serif;
  border: 10px solid #9a9a9a;
  font-size: 3rem;
  max-width: 450px;
}
    
.profile-img {
  max-height: 50vh;
  width: auto; 
  border-radius: 50%;
}

.favorites-icecream {
  background: #a6a6a6
}

.favorites-sport {
  background: #2c4863
}

.media-video {
  font size: 1rem 
}

.favorites-vacation {
  background: #002b54
}

.footer {
  text-align:center;
  padding: 2rem;
  font-size: 1.5em;
}

.btn-1 {
  background: #ff5a1d;
  color: #000000;
  padding: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: .25rem;
  font-family: 'Acme', sans-serif;
  font-size: .9rem;
  border: 1px solid white;
  transition: border .3sec ease; 
}

.btn-1:hover {
  border: 15px solid #7a7a7a;
}
  
